@tailwind base;
@tailwind components;
@tailwind utilities;

.children-menu {
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

select option {
  background-color: #ff914c;
  color: #fff;
  padding: 10px;
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}
*::-webkit-scrollbar-thumb {
  background-color: #ff914c;
  /* border-radius: 10px; */
}

*::-webkit-scrollbar-track {
  background-color: #ff3916;
  /* border-radius: 50px; */
}

/* Hide scrollbar but keep scrollable */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
